*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

.body{
    max-width: 940px;
}

.header__nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid #828282;
    
}
.header__link{
    color: #828282;;
    font-family: "gilroy";
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.header__link:hover{
    color: black;
}

.face{
    margin-left: auto;
    margin-right: auto;
}
.face__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.face__title{
    font-family: "gilroy";
    font-size: 45px;
    font-weight: bold;
}
.face__speciality{
    font-family: "gilroy";
    font-weight: bold;
}
.face__translate{
    transform: rotate(-90deg);
    a{
        font-family: gilroy;
        text-decoration: none;
        font-weight: bold;
    }
    .active{
        color: black;
    }
    .passive{
        color: #828282;
    }   
}
.about{
    margin-top: 100px;
    padding: 100px;
    width: 100vw;
    background-color: #F6F6F6;
    text-align: center;
}

.about__title{
    font-family: gilroy;
    font-weight: bold;
    font-size: 34px;
}
.about__text{
    margin-top: 30px;
    font-family: gilroy;
}
.about__text p{
    margin: 30px 0;
}
.about__text p:last-child{
    margin: 30px 0 0 0;
}
.about__text p:first-child{
    margin: 0 0 30px 0;
}