*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    overflow-x: hidden;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

.body{
    max-width: 940px;
}

.header__nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid #828282;
    
}
.header__link{
    color: #828282;;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.header__link:hover{
    color: black;
}

.face{
    margin-left: auto;
    margin-right: auto;
}
.face__img img{
    max-width: 100vw;
}
.face__img-mobile{
    display: none;
}
.face__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.face__title{
    font-size: 45px;
    font-weight: bold;
}
.face__speciality{
    font-weight: bold;
}
.face__translate{
    transform: rotate(-90deg);
    a{
        text-decoration: none;
        font-weight: bold;
    }
    .active{
        color: black;
    }
    .passive{
        color: #828282;
    }   
}
.about{
    margin: 100px 0 0 0;
    padding: 100px;
    width: 100vw;
    background-color: #F6F6F6;
    text-align: center;
}

.about__title{
    font-weight: bold;
    font-size: 34px;
}
.about__text{
    margin-top: 30px;
}
.about__text p{
    margin: 30px 0;
}
.about__text p:last-child{
    margin: 30px 0 0 0;
}
.about__text p:first-child{
    margin: 0 0 30px 0;
}

.skills{
    padding: 100px;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
}
.skills__title{
    font-weight: bold;
    font-size: 34px;
}
.skills__text{
    font-size: 18px;
    margin: 70px 0;
}

.skills__programs{
    display: flex;
    flex-wrap: wrap;
}

.program__name{
    font-size: 14px;
    color: #828282;
    margin: 30px 0;
    word-wrap: break-word;
}
.skills__programs{
    display: flex;
    justify-content: space-between;
}
.program__img img{
    background-image: url(../img/img__photoshop__bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.portfolio{
    background-color: #F6F6F6;
    margin: 0 auto;
    text-align: center;
}

.portfolio__title{
    display: block;
    font-weight: bold;
    font-size: 34px;
    margin: 70px;
}

.portfolio__link{
    margin: 50px;
}

.portfolio__link a{
    color: black;
    font-size: 18px;
}

.portfolio *img{
    max-width: 100vw;
}

.contacts{
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.contacts__title{
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.contacts__text{
    font-size: 18px;
    margin: 20px 0;
}

.link__body{
    background-color: black;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 0 0 60px 0;
}

.contacts__link{
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.link__body:hover{
    text-decoration: underline;
}

.contacts__wish{
    color: #828282;
}

.burger__link{
    width: 100%;
    font-size: 34px;
    text-decoration: none;
    color: #828282;
    display: inline-block;
    margin: 30px 0;
}
.burger__link:first-child{
    color: black;
    margin: 0 0 30px 0;
}

.burger{
    z-index: -1;
    opacity: 0;
    background-color: white;
    transition: all 1s ease;
    left: 500px;
    position: fixed;    
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
    height: 100vh;
    font-weight: bold;
}
.burger__nav{
    width: 50%;
}

.burger__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 100%;
}

.burger__button{
    width: 100%;
}

.burger__translate {
    transform: rotate(90deg) translate(-90px, -45px);
    font-size: 30px;
    a {
        text-decoration: none;
        font-weight: bold;
    }

    .active {
        color: black;
    }

    .passive {
        color: #828282;
    }
}


@media (max-width: 730px){
    body{
        overflow-x: hidden;
    }
    .header__nav{
        display: none;
    }
    .face__title{
        display: flex;
        justify-content: space-between;
    }

    .face__top{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-weight: normal;
        align-items: flex-start;
    }
    .face__speciality{
        margin: 50px 0;
        font-size: 18px;
    }
    .speciality__name{
        display: flex;
    }
    .face__title{
        margin-top: 0;
        width: 100%;
    }
    
    .face__translate{
        display: none;
    }
    .face__img{
        display: none;
    }
    .face__img-mobile{
        display: block;
    }
    .face__bottom{
        text-align: center;
    }
    .face__img-mobile img{
        width: 90%;
    }
    .about{
        padding: 30px;
    }
    .skills{
        padding: 30px;
    }
    .programs__program{
        width: 100%;
        margin: 50px;
    }
    .programs__program:first-child{
        margin: 0 0 50px 0;
    }
    .programs__program:last-child{
        margin: 50px 0 0 0;
    }
    .portfolio{
        padding: 30px;
    }
    .portfolio__link{
        margin: 50px 0;
    }
    .contacts{
        padding: 50px 30px;
    }
    .contacts__link{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .contacts__wish{
        margin: 50px 0 0 0;
    }
}