* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy/gilroy-bold.woff") format("woff"), url("../fonts/gilroy/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy/gilroy-medium.woff") format("woff"), url("../fonts/gilroy/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
.body {
  max-width: 940px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 2px solid #828282;
}

.header__link {
  color: #828282;
  font-family: "gilroy";
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.header__link:hover {
  color: black;
}

.face {
  margin-left: auto;
  margin-right: auto;
}

.face__img img {
  max-width: 100vw;
}

.face__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.face__title {
  font-family: "gilroy";
  font-size: 45px;
  font-weight: bold;
}

.face__speciality {
  font-family: "gilroy";
  font-weight: bold;
}

.face__translate {
  transform: rotate(-90deg);
}
.face__translate a {
  font-family: gilroy;
  text-decoration: none;
  font-weight: bold;
}
.face__translate .active {
  color: black;
}
.face__translate .passive {
  color: #828282;
}

.about {
  margin: 100px 0 0 0;
  padding: 100px;
  width: 100vw;
  background-color: #F6F6F6;
  text-align: center;
}

.about__title {
  font-family: gilroy;
  font-weight: bold;
  font-size: 34px;
}

.about__text {
  margin-top: 30px;
  font-family: gilroy;
}

.about__text p {
  margin: 30px 0;
}

.about__text p:last-child {
  margin: 30px 0 0 0;
}

.about__text p:first-child {
  margin: 0 0 30px 0;
}

.skills {
  padding: 100px;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}

.skills__title {
  font-family: gilroy;
  font-weight: bold;
  font-size: 34px;
}

.skills__text {
  font-family: gilroy;
  font-size: 18px;
  margin: 70px 0;
}

.skills__programs {
  display: flex;
}

.program__name {
  font-family: gilroy;
  font-size: 14px;
  color: #828282;
}

.skills__programs {
  display: flex;
  justify-content: space-between;
}

.program__img img {
  background-image: url(../img/img__photoshop__bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}/*# sourceMappingURL=style.css.map */